#chartCanvas {
    border: 1px solid black;
}

#voteButton {
    background: none;
    outline: none;
    border: 1px solid black;
    border-radius: 3px;
    height: 30px;
    width: 70px;
    vertical-align: top;
    font-size: 20px;
}

#optionBox {
    width: 200px;
    height: 30px;
    outline: none;
    font-size: 20px;
    vertical-align: top;
}